.large-video-labels {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: right 0.5s;
    z-index: 3;

    .circular-label {
        align-items: center;
        color: white;
        display: flex;
        font-weight: bold;
        justify-content: center;
        margin-left: 8px;
        opacity: 0.8;
    }

    .circular-label {
        background: #b8c7e0;
    }

    .circular-label.e2ee {
        align-items: center;
        background: #76cf9c;
        display: flex;
        justify-content: center;
    }

    .circular-label.file {
        background: #ff5630;
    }

    .circular-label.local-rec {
        background: #ff5630;
    }

    .circular-label.stream {
        background: #0065ff;
    }

    .circular-label.insecure {
        background: $defaultWarningColor;
    }

    .recording-label.center-message {
        background: $videoStateIndicatorBackground;
        bottom: 50%;
        display: block;
        left: 50%;
        padding: 10px;
        position: fixed;
        transform: translate(-50%, -50%);
        z-index: $centeredVideoLabelZ;
    }
}

.circular-label {
    background: $videoStateIndicatorBackground;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: default;
    font-size: 13px;
    height: $videoStateIndicatorSize;
    line-height: $videoStateIndicatorSize;
    text-align: center;
    min-width: $videoStateIndicatorSize;
}
