/**
* Initialize
**/

.popupmenu {
    min-width: 75px;
    text-align: left;
    padding: 0px;
    width: 180px;
    white-space: nowrap;
    z-index: 99999;

    &__item {
        z-index: 99999;
        list-style-type: none;
        height: 35px;
    }

    // Link Appearance
    &__link,
    &__contents {
        z-index: 99999;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        height: 100%;
        font-size: 9pt;
        width: 100%;
        cursor: pointer;
        padding: 0 5px;
        color: $popupMenuColor;

        &:hover {
            background-color: $popupMenuHoverBackground;
            color: $popupMenuHoverColor;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    &__link {
        i {
            cursor: pointer;
        }
    }

    &__contents {
        z-index: 99999;
        display: flex;

        /**
         * Positioning styles on the slider and its container are used to make
         * the container fit the popup width, by removing the slider from the
         * page flow, and then making the slider fit the container.
         */
        .popupmenu__slider_container {
            z-index: 99999;
            position: relative;
            width: 100%;

            .popupmenu__slider {
                z-index: 99999;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;

                &::-webkit-slider-runnable-track {
                    background-color: $popupSliderColor;
                }

                &::-moz-range-track {
                    background-color: $popupSliderColor;
                }

                &::-ms-fill-lower {
                    background-color: $popupSliderColor;
                }
            }
        }
    }

    &__icon {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        min-width: 20px;
        height: 100%;
        padding-right: 10px;

        > * {
            @include absoluteAligning();
        }
    }

    .icon-kick,
    .icon-play,
    .icon-stop {
        font-size: 8pt;
    }
}

/**
 * Override reset css styling modifying all lists and set negative margin to
 * reduce the visibility of padding on AtlasKit
 * InlineDialogs.
 */
ul.popupmenu {
    margin: -16px -24px;
    z-index: 99999;
}

span.remotevideomenu:hover ul.popupmenu,
ul.popupmenu:hover {
    display: block !important;
}
