/**
 * Shared style for full screen local track based dialogs/modals.
 */
.premeeting-screen {
    align-items: stretch;
    background-color: #000000;
    background-image: url('../../images/figure/rounddesk-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $toolbarZ + 1;

    .action-btn {
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        line-height: 24px;
        margin-top: 16px;
        padding: 7px 16px;
        position: relative;
        text-align: center;
        width: 286px;

        &.primary {
            background: #0376da;
            border: 1px solid #0376da;
        }

        &.secondary {
            background: transparent;
            border: 1px solid #5e6d7a;
        }

        &.text {
            width: auto;
            font-size: 13px;
            margin: 0;
            padding: 0;
        }

        &.disabled {
            background: #5e6d7a;
            border: 1px solid #5e6d7a;
            color: #afb6bc;
            cursor: initial;

            .icon {
                & > svg {
                    fill: #afb6bc;
                }
            }

            .options {
                border-left: 1px solid #afb6bc;
            }
        }

        .options {
            align-items: center;
            border-left: 1px solid #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
        }
    }

    .content {
        align-items: center;
        background-image: linear-gradient(transparent, black);
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        z-index: $toolbarZ + 2;

        .title {
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }

        .copy-meeting {
            align-items: center;
            cursor: pointer;
            color: #fff;
            display: flex;
            flex-direction: row;
            font-size: 15px;
            font-weight: 300;
            justify-content: center;
            line-height: 24px;
            margin-bottom: 16px;

            .url {
                display: flex;
                padding: 8px 10px;

                &:hover {
                    background: #1c2025;
                    border-radius: 4px;
                }

                &.done {
                    background: #31b76a;
                }

                .jitsi-icon {
                    margin-left: 10px;
                }
            }

            .copy-meeting-text {
                width: 266px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                align-self: stretch;
            }

            textarea {
                border-width: 0;
                height: 0;
                opacity: 0;
                padding: 0;
                width: 0;
            }
        }

        input.field {
            background-color: transparent;
            border: 1px solid transparent;
            color: white;
            outline-width: 0;
            padding: 8px 0;
            text-align: center;
            width: 100%;

            &.focused {
                border-bottom: 1px solid white;
            }

            &.error::placeholder {
                color: $defaultWarningColor;
            }
        }

        .action-btn {
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            line-height: 24px;
            margin-top: 16px;
            padding: 7px 16px;
            position: relative;
            text-align: center;
            width: 286px;

            &.primary {
                background: #0376da;
                border: 1px solid #0376da;
            }

            &.secondary {
                background: transparent;
                border: 1px solid #5e6d7a;
            }

            &.text {
                width: auto;
                font-size: 13px;
                margin: 0;
                padding: 0;
            }

            &.disabled {
                background: #5e6d7a;
                border: 1px solid #5e6d7a;
                color: #afb6bc;
                cursor: initial;

                .icon {
                    & > svg {
                        fill: #afb6bc;
                    }
                }

                .options {
                    border-left: 1px solid #afb6bc;
                }
            }

            .options {
                align-items: center;
                border-left: 1px solid #fff;
                display: flex;
                height: 100%;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }
        }
    }

    .media-btn-container {
        display: flex;
        justify-content: center;
        margin: 32px 0;
        width: 100%;

        & > div {
            margin: 0 12px;
        }

        .settings-button-small-icon {
            right: -8px;

            &--hovered {
                right: -10px;
            }
        }
    }
}

#preview {
    height: 100%;
    position: absolute;
    width: 100%;

    &.no-video {
        background: radial-gradient(50% 50% at 50% 50%, #5b6f80 0%, #365067 100%), #ffffff;
        text-align: center;
    }

    .avatar {
        background: #a4b8d1;
        margin: 200px auto 0 auto;
    }

    video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }
}

.prejoin-error {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 15px;
    p {
        font-size: 12px !important;
        letter-spacing: normal !important;
        line-height: 12px !important;
        color: red !important;
        margin-bottom: 10px;
        button,
        a {
            margin-left: 15px;
            color: #007bff;
            font-size: 12px;
        }
        button {
            letter-spacing: normal !important;
            text-transform: none;
        }
    }
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
    color: #555;
}
