.subject {
    top: 30px;
    transition: top 0.3s ease-in;
    height: 95px;
    width: 100%;
    pointer-events: none;
    position: absolute;
    padding: 25px 140px 0 140px;
    text-align: center;
    font-size: 17px;
    color: #333;
    z-index: $zindex10;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    &.visible {
        top: 0px;
    }

    &-text {
        vertical-align: middle;
    }

    &-conference-timer {
        display: block;
        font-size: 15px;
        opacity: 0.6;
    }
}
