/* Functions BEGIN */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

@import 'functions';

/* Functions END */

/* Variables BEGIN */

@import 'variables';

/* Variables END */

/* Mixins BEGIN */

@import 'mixins';

/* Mixins END */

/* Animations END */

/* Flags BEGIN */
$flagsImagePath: '../images/';
@import '../node_modules/bc-css-flags/dist/css/bc-css-flags.scss';
/* Flags END */

/* Modules BEGIN */

@import 'aui_reset';
@import 'atlaskit_overrides';
@import 'base';
@import 'utils';
@import 'overlay/overlay';
@import 'inlay';
@import 'reload_overlay/reload_overlay';
@import 'mini_toolbox';
@import 'modals/desktop-picker/desktop-picker';
@import 'modals/device-selection/device-selection';
@import 'modals/dialog';
@import 'modals/feedback/feedback';
@import 'modals/invite/info';
@import 'modals/settings/settings';
@import 'modals/speaker_stats/speaker_stats';
@import 'modals/video-quality/video-quality';
@import 'modals/local-recording/local-recording';
@import 'videolayout_default';
@import 'notice';
@import 'subject';
@import 'participants-count';
@import 'popup_menu';
@import 'recording';
@import 'login_menu';
@import 'chat';
@import 'ringing/ringing';
@import 'welcome_page';
@import 'welcome_page_content';
@import 'welcome_page_settings_toolbar';
@import 'toolbars';
@import 'jquery.contextMenu';
@import 'keyboard-shortcuts';
@import 'redirect_page';
@import 'components/form-control';
@import 'components/link';
@import 'components/button-control';
@import 'components/input-control';
@import 'components/input-slider';
@import 'connection-info';
@import 'aui-components/dropdown';
@import '404';
@import 'policy';
@import 'popover';
@import 'filmstrip/filmstrip_toolbar';
@import 'filmstrip/horizontal_filmstrip';
@import 'filmstrip/small_video';
@import 'filmstrip/tile_view';
@import 'filmstrip/tile_view_overrides';
@import 'filmstrip/vertical_filmstrip';
@import 'filmstrip/vertical_filmstrip_overrides';
@import 'labels';
@import 'lobby';
@import 'unsupported-browser/main';
@import 'modals/invite/add-people';
@import 'deep-linking/main';
@import 'transcription-subtitles';
@import '_meetings_list.scss';
@import 'navigate_section_list';
@import 'third-party-branding/google';
@import 'third-party-branding/microsoft';
@import 'avatar';
@import 'promotional-footer';
@import 'chrome-extension-banner';
@import 'settings-button';
@import 'meter';
@import 'audio-preview';
@import 'video-preview';
@import 'prejoin';
@import 'prejoin-dialog';
@import 'country-picker';
@import 'modals/invite/invite_more';
@import 'modals/security/security';
@import 'premeeting-screens';
@import 'home';
@import 'e2ee';

.form-control {
    padding: 0 4px;
}

.settings-dialog {
    padding: 0 15px;
    max-width: 368px;
}
.settings-page {
    .custom-control-label {
        line-height: 23px;
        color: #555;
        font-size: 18px;
    }
    .camera {
        label {
            float: left;
            color: #333;
            font-size: 16px;
            padding: 12px 0 0 10px;
        }
        .video-preview {
            float: right;
        }
        .settings-button-small-icon {
            display: none;
        }
    }
    .settings-button-container .toolbox-icon:hover {
        background-color: #333;
        border: 1px solid #333;
    }
    .device-selector-trigger {
        color: #555;
    }
    .device-selector-label {
        .svg-inline--fa {
            color: #555;
        }
    }
}

.dialog .aui-dialog2-footer,
.dialog .aui-dialog2-header {
    background-color: #3258ee;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
}

.dialog .aui-dialog2-content {
    background-color: #3258ee;
    box-sizing: border-box;
    color: #eceef1;
    font-size: 1.16667em;
    overflow: auto;
    max-height: 100%;
    padding: 20px;
}

.dialog .input-control {
    background-color: #fff;
    color: #000;
}

.button-control_primary {
    background-color: #e80e9e;
    border: 1px solid #fff;
    color: #fff !important;
    font-weight: 400;
}

.button-control_primary:hover {
    border: 1px solid #2a67a5;
    background-color: #2a67a5;
}

.button-control_primary:hover {
    border: 1px solid #fff;
    background-color: #3258ee;
}

.videocontainer {
    background-color: rgb(255, 255, 255) !important;
    display: inline-block;
}
.h55 {
    color: #555 !important;
}
.fxt-btn-fill {
    text-align: center;
}
.camera-preview-disabled {
    height: 180px;
    width: 316px;
    background-color: #ccc;
    border-radius: 3px;
}
// .new-chat {
//     margin-bottom: 30px;
//     height: 100%;
//     .message-input {
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         max-width: 410px;
//         margin-bottom: 20px;
//         z-index: 99;
//         .wrap {
//             position: relative;
//             input {
//                 font-family: 'proxima-nova', 'Source Sans Pro', sans-serif;
//                 float: left;
//                 width: calc(100% - 123px);
//                 padding: 11px 11px 10px 10px;
//                 font-size: 0.8em;
//                 color: #32465a;
//                 border: 1px solid #dcd5d5;
//                 border-radius: 30px;
//                 &:focus {
//                     outline: none;
//                 }
//             }
//             .attachment {
//                 position: absolute;
//                 right: 138px;
//                 z-index: 4;
//                 margin-top: 13px;
//                 font-size: 1.1em;
//                 color: #435f7a;
//                 opacity: 0.5;
//                 cursor: pointer;
//                 background-color: transparent;
//                 border: none;
//                 padding: 0;
//                 top: -1px;
//                 &:hover {
//                     opacity: 1;
//                 }
//             }
//             .smile-wink {
//                 position: absolute;
//                 right: 165px;
//                 z-index: 4;
//                 margin-top: 13px;
//                 font-size: 1.1em;
//                 color: #435f7a;
//                 opacity: 0.5;
//                 cursor: pointer;
//                 background-color: transparent;
//                 border: none;
//                 padding: 0;
//                 top: -1px;
//             }
//             button.submit {
//                 float: left;
//                 border-radius: 35px;
//                 width: 42px;
//                 height: 42px;
//                 padding: 0 3px 0 0;
//                 cursor: pointer;
//                 background: #2a5bf2;
//                 color: #f5f5f5;
//                 border: #2a5bf2;
//                 margin-left: 5px;
//                 &:hover {
//                     background: #5b47dc;
//                 }
//                 &:focus {
//                     outline: none;
//                 }
//             }
//             .empty-btn.dropdown {
//                 width: 55px;
//                 display: inline-block;
//             }
//         }
//     }
//     @media screen and (max-width: 735px) {
//         .new-chat .message-input .wrap input {
//             padding: 15px 32px 16px 8px;
//         }
//     }
//     @media screen and (max-width: 735px) {
//         .new-chat .message-input .wrap .attachment {
//             margin-top: 17px;
//             right: 65px;
//         }
//     }

//     @media screen and (max-width: 735px) {
//         .new-chat .message-input .wrap button {
//             padding: 16px 0;
//         }
//     }
//     .chat-message-group.local {
//         .chatmessage {
//             background-color: #2a5bf2;
//             border-radius: 6px 0 6px 6px;
//             display: inline-block;
//             margin-top: 3px;
//             color: #fff;
//             float: right;
//             max-width: 300px;
//             padding: 10px 15px;
//             font-size: 18px;
//             line-height: 130%;
//         }
//         .name,
//         .time {
//             float: right;
//         }
//         .time {
//             padding-right: 1px;
//         }
//     }
//     .chat-message-group.remote {
//         .chatmessage {
//             float: left;
//             max-width: 300px;
//             background: #f5f5f5;
//             text-align: left;
//             color: #646464;
//             padding: 10px 15px;
//             font-size: 18px;
//             line-height: 130%;
//         }
//         .name,
//         .time {
//             float: left;
//             padding-top: 10px;
//         }
//     }
//     .chatmessage-wrapper {
//         .name,
//         .time {
//             display: inline-block;
//             font-size: 16px;
//             text-transform: capitalize;
//             padding-bottom: 5px;
//         }
//         .name {
//             padding-right: 15px;
//         }
//     }
// }
.sent {
    .message-info {
        width: 100%;
        height: 20px;
        float: right;
        margin-bottom: 10px;
    }
}
.replies {
    .message-info {
        width: 100%;
        height: 20px;
        float: left;
        margin-bottom: 10px;
    }
}
.messages p {
    -webkit-user-select: text !important;
    user-select: text !important;
}
.scroll-to-bottom {
    position: relative;
    width: 100%;
    height: 1px;
    display: flex;
}
.private-chat-picker {
    position: absolute;
    // bottom: 35px;
    right: -16px;
    z-index: 99;
}
/* Modules END */
.tab-content {
    height: calc(100% - 30px);
    .tab-pane {
        height: 100%;
        div::first-child {
            height: 100%;
        }
    }
}
// div[role='dialog'] {
//     background-color: #2555f6 !important;
//     color: #fff;
//     h4 {
//         color: #fff;
//     }
//     .btn {
//         text-transform: none;
//     }
// }

.tab-content > .tab-pane {
    height: 100% !important;
    .accordion {
        height: 100% !important;
    }
    .card {
        max-height: 100% !important;
        .collapse {
            overflow-y: auto;
            scrollbar-width: thin;
        }
    }
}
.lobby-text {
    padding-left: 9px;
    color: #4c45e6;
    font-size: 14px;
    width: 100%;
    display: inline-block;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    .spanner {
        position: absolute;
        // top: 50%;
        left: 0;
        background: #2a2a2a;
        width: 100%;
        display: block;
        text-align: center;
        height: 100%;
        color: #fff;
        z-index: 1000;
        visibility: hidden;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        visibility: hidden;
    }

    .loader,
    .loader:before,
    .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
    }
    .loader {
        color: #ffffff;
        font-size: 10px;
        margin: 80px auto;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }
    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 3.5em;
    }
    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    .show {
        visibility: visible;
    }

    .spanner,
    .overlay {
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .spanner.show,
    .overlay.show {
        opacity: 0.9;
    }
}

.fxt-form {
    h4 {
        font-size: 16px;
    }
}

.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.spinner {
    color: #005fff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
    top: 0;
}
.spinner:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.vertical-filmstrip .filmstrip {
    z-index: 5;
}
.app-notification {
    div {
        &:nth-child(1) {
            div {
                &:first-child {
                    height: auto;
                    span {
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }
}

.audio-recorder {
    p {
        color: #ffffff;
    }
    h4 {
        color: #c11e08;
    }
}
