.invite-more {
    &-container {
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: $zindex2;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

        &.elevated {
            z-index: $filmstripVideosZ + 1;
        }
    }

    &-header {
        font-size: 19px;
        line-height: 28px;
        margin: 24px 0 16px 0;
    }

    &-button {
        display: flex;
        margin: auto;
        padding: 8px 16px;
        width: fit-content;
        width: -moz-fit-content;
        height: 24px;
        background: #0376DA;
        border-radius: 3px;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;

        &:hover {
            background: #278ADF;
        }

        &-text {
            margin-left: 8px;
            font-size: 15px;
            line-height: 24px;
        }
    }
    &-dialog {
        color: #fff;
        font-size: 15px;
        line-height: 24px;

        & > span {
            font-weight: 600;
        }

        &.header {
            display: flex;
            justify-content: space-between;
            margin: 16px 16px 24px;
            width: calc(100% - 32px);
            color: #fff;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            & > div > svg {
                cursor: pointer;
                fill: #A4B8D1;
            }
        }

        &.copy-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 8px 8px 16px;
            margin-top: 8px;
            width: calc(100% - 24px);
            height: 24px;

            background: #0376DA;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: #278ADF;
                font-weight: 600;
            }

            &-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 292px;

                &.selected {
                    font-weight: 600;
                }
            }

            &.clicked {
                background: #31B76A;
            }

            & > div > svg > path {
                fill: #fff;
            }
        }

        &.separator {
            margin: 24px 0 24px -20px;
            padding: 0 20px;
            width: 100%;
            height: 1px;
            background: #5E6D7A;
        }

        &.email-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 8px 8px 16px;
            margin-top: 24px;
            width: calc(100% - 26px);
            height: 22px;

            background: #2A3A4B;
            border: 1px solid #5E6D7A;
            border-radius: 3px;
            cursor: pointer;

            &.active {
                border-radius: 3px 3px 0 0;
            }
        }

        &.icon-container {
            display: none;

            &.active {
                display: flex;
                width: calc(100% - 26px);
                padding: 8px 8px 8px 16px;

                background: #2A3A4B;
                border: 1px solid #5E6D7A;
                border-top: none;
                border-radius: 0 0 3px 3px;

                & > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 4px;
                    cursor: pointer;
                }

                &:hover > div:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                & > :not(:last-child) {
                    margin-right: 16px;
                }

                .copy-invite-icon > div > svg > path {
                    fill: #A4B8D1;
                }
            }
        }

        &.dial-in-display {
            .info-label {
                color: #A4B8D1;
            }

            .dial-in-copy {
                display: inline-block;
                vertical-align: middle;
                margin-left: 21px;
                cursor: pointer;
            }
        }

        &.invite-buttons {
            width: 100%;
            text-align: right;
            margin-top: 8px;

            & > a {
                display: inline-block;
                height: 24px;
                width: 48px;
                border-radius: 3px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }

            &-cancel {
                margin-right: 16px;
                padding: 7px 15px;
                background: #2A3A4B;
                border: 1px solid #5E6D7A;
            }

            &-add {
                padding: 8px 16px;
                background: #0376DA;
            }

            &.disabled {
                & > a {
                    pointer-events: none;
                }
            }
        }

        &.stream {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 8px 8px 16px;
            margin-top: 8px;
            width: calc(100% - 26px);
            height: 22px;

            background: #2A3A4B;
            border: 1px solid #5E6D7A;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                font-weight: 600;
            }

            &-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 292px;

                &.selected {
                    font-weight: 600;
                }
            }

            &.clicked {
                background: #31B76A;
                border: 1px solid #31B76A;
            }

            & > div > svg > path {
                fill: #fff;
            }
        }
    }
}
